<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Alpha bookshop [AI-powered]</h1>
    <h3>This is the bookshop without books, eheh.</h3>
    <form>
        <label for="title">
            Book title
        </label>
        <input id="title">
        <label for="desc">
            Describe ya book
        </label>
        <textarea id="desc"></textarea>
    </form>
    </form>
</body>
</html>